<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Help Page</title>
    </head>
    <body>
        <h1>{{pagetitle}}</h1>
        <p>{{welcomemessage}}</p>
        <footer>
    <p>Copyright 2019</p>
</footer>
            
    </body>
</html>